/* https://github.com/gatsbyjs/gatsby/blob/9d33b107d167e3e9e2aa282924a0c409f6afd5a0/packages/gatsby-plugin-image/src/gatsby-ssr.tsx#L20-L49 */
.gatsby-image-wrapper {
  position: relative;
  overflow: hidden;
}

.gatsby-image-wrapper picture.object-fit-polyfill {
  position: static !important;
}

.gatsby-image-wrapper img {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
}

.gatsby-image-wrapper [data-main-image] {
  opacity: 0;
  transform: translateZ(0px);
  transition: opacity 250ms linear;
  will-change: opacity;
}

.gatsby-image-wrapper-constrained {
  display: inline-block;
  vertical-align: top;
}
